@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, 
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* General 
--------------------------------------------------------------------------------------------------------*/
* { outline: none; box-sizing: border-box;}
/* .window-resizing *, body:not(.page-loaded) *{transition: none!important; } */
html, body { min-width: 320px; min-height: 100vh; }
body {margin: 0; font-size: 16px; line-height: 22px; font-family:-apple-system, BlinkMacSystemFont,'Open Sans', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;}

a {transition: all 0.3s; color: #9C9C9C; text-decoration: none; }
a:hover,a:focus, a:active { color: #4b4b4b; text-decoration: none; }
/* h1, h2, h3, h4, h5, h6 { line-height: 1.2em;  } */
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span { display: block; }
h1 {font-size: 40px;}
h2 {font-size: 35px; } 
h3 {font-size: 25px; }
h4 {font-size: 20px; }
h5 {font-size: 18px; }
h6 {font-size: 16px; }

input[type=text], input[type=email], input[type=password], textarea { -webkit-appearance: none; appearance: none; }
::-webkit-input-placeholder { color: #ffffff; font-size: 18px; font-weight: 400;line-height: 21px;}
/* .dark-theme ::-webkit-input-placeholder { color: #0e0e0e; font-size: 18px; font-weight: 400;line-height: 21px;} */
::-moz-placeholder { color: #ffffff; }
:-ms-input-placeholder { color: #ffffff; }
:-moz-placeholder { color: #ffffff; }
::-moz-focus-inner { border: 0; }
select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #9C9C9C; }
option:not(:checked) { color: black; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
::-ms-reveal {
  display: none;
} 

:root{
    --primary:#00A1A2;
    --primarymain:#009192;
    --primaryHover:#33b4b5;
    --secondary:#505050;
    --secondaryMain:#848484;
    --secondaryLight:#9C9C9C;
    --black:#000000;
    --white:#FFFFFF;
    --danger:#ff3939;
    --bg:#fafafa;
}
.dark-theme{ transition: all 0.5s ease;
  /* margin-left: 100%; */
    --primary:#59c2c3;
    --primarymain:#009192;
    --primaryHover:#33b4b5;
    --secondary:#dddddd;
    --secondaryMain:#848484;
    --secondaryLight:#9C9C9C;
    --black:#f4f4f4;
    --white:#202020;
    --danger:#FF4D4D;
    --bg:#0e0e0e;
}

/* login-page starts
------------------------------------------------------------------------------------------------------------------------------------------------- */
.img-fluid{max-width: 100%; height: auto;}
.login-page{min-height:100vh;display: flex; justify-content: flex-end;align-items: center; }
.login-container{width: 408px; margin: auto ;flex-shrink: 0;padding: 30px;box-sizing: content-box;}
.login-form .btn-line{display: flex;align-items: center;justify-content: space-between;}
.d-right-tri , .d-left-tri, .d-bg-triangle, .logo-dark, .d-mockup{display: none;}

/* sidebar starts
------------------------------------------------------------------------------------------------------------------------------------------------- */
/* .sidebar-container{position: sticky; top: 0;} */
.sidebar{max-width: 234px;flex-grow: 0; flex-shrink: 0;flex-basis: 234px;padding: 18px; transition: all 0.5s ease;z-index: 30; background-color: var(--white);
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.08);}
.sidebar .brand-logo{margin-top: 14px;margin-bottom: 38px; text-align: center;}
.sidebar-content{height: calc(100% - 70px); overflow-y: auto;}
.cmp-logo-dark{display: none;}

.sidebar .active{background-color: var(--primary);}
.sidebar .active:hover{box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.65);}
.sidebar .sidelinks{display: flex;padding: 15px;margin-bottom: 18px; }
.sidebar .sidelinks p{white-space: nowrap; max-width: 100%; overflow: hidden; text-overflow: ellipsis; padding-left: 10px; color: var(--secondary);font-size: 18px; line-height: 21px;}
.sidebar .active p{padding-left: 10px; color: var(--white);}
.sidebar .sidelinks .default{display: block;} 
.sidebar .sidelinks .active-img{display: none;} 
.sidebar .sidelinks .dark-active-img{display: none;} 
.sidebar .active .default{display: none;} 
.sidebar .active .active-img{display: block; } 
.sidebar .sidelinks:not(.active):hover, .sidebar .sidelinks:not(.active):focus,.sidebar .sidelinks:not(.active):active {transform: scale(1.06);background: linear-gradient(90deg, rgba(0,161,162,1) 0%, rgba(0,0,0,0.15) 0%);}

/* Header starts
------------------------------------------------------------------------------------------------------------------------------------------------- */
.header.active{background-color: rgba(0, 121, 121, 0.6); backdrop-filter: blur(10px);height: 70px;}
.header{height: 78px;width: 100%; display: flex; align-items: center;transition: all 0.5s ease; padding: 5px 16px 5px 20px;position: sticky; top: 0;background-color: var(--primary); z-index: 28;}
.header .brand-icon, .header .toggle-btn, .search-box .btn-close-search{display: none;}
.toggle-btn .dark-toggle-icon{display: none;}
.search-box{transition: all 0.5s ease;}
.search-box .search-input{width:280px; color: #fff;transition: all 0.5s ease;font-size: 18px; line-height: 21px; padding: 12px 18px 12px 42px; background: url(./assets/images/ic-search.svg) no-repeat;border: 1px solid transparent ; background-position: left 10px center;}
.search-box .search-input:focus, .search-box .search-input:active{width:330px;background-color: rgba(0, 121, 121, 0.4);transition: all 0.5s ease;}
.search-box .search-input:hover{background-color: rgba(0, 121, 121, 0.4);}
.menu div{margin: 0 7px 0 16px;display: flex; flex-direction: column;}
.menu div h6{font-size: 18px;font-weight: 400; line-height: 21px; color: #fff;}
.menu div span{font-size: 12px; line-height:14px ; color: #fff;}
.menu .dropdown-arrow{align-self: baseline;margin-top: 5px;}


/* main-container 
------------------------------------------------------------------------------------------------------------------------------------------------- */
.main-container{display: flex;background-color: var(--bg);min-height: 100vh;max-width: 2500px;margin: 0 auto;}
.wrapper-content{width: calc(100% - 234px);transition: all 0.5s ease;}
/* body .dark-theme{display: none;} */

/* Dashboard page starts
------------------------------------------------------------------------------------------------------------------------------------------------- */
.main-page{padding: 35px 30px;}
.top-card:hover{transform: scale(1.015);}
.sticker{padding: 30px 30px 22px;height: 100%; background-color: var(--white);box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.08); }
.sticker-content{display: flex; align-items: center;margin-bottom: 16px;}
.sticker-content .card-icons{margin-right: 28px;}
.sticker-content + p{height: 40px;}
.sticker-content .card-data span{color: var(--black);font-size: 15px;line-height: 17px;}
.sticker-content .card-data p{margin-top: 8px;}
.card-heading-line{display: flex; justify-content: space-between;align-items: center; margin-bottom: 32px;}
.card-heading-line + h4{font-size: 25px; font-weight: 500; line-height: 29px;}
.weekly-img{margin-top: 30px;}
.delivered{color: var(--primary);}
.cancel{color: var(--danger);}
.d-graph-img, .d-weekly-img, .d-card-icons{display: none;}
.card-icons{display: block;}
/* orders page starts
------------------------------------------------------------------------------------------------------------------------------------------------- */
.user-page{padding: 25px 30px 7px;}
.page-head:not(:first-child){margin-top: 42px;}
.user-select{background: url(./assets/images/ic-select-arrow.svg) no-repeat; background-position: right 10px center;}
.textarea{background: url(./assets/images/ic-textarea.svg) no-repeat; background-position: right 10px bottom;background-position-y:90px ;}
.validation-notes{margin-top: 20px; margin-bottom: 36px;}
.prim-sec{display: flex; gap:20px;}

.upload-icon-dark, .error-ic-d, .info-ic-d, .warn-ic-d, .valid-ic-d{display: none;}
.user-page .d-checkbox, .user-page .d-radio-check{display: none;}

@media (max-width:1399px){
  .sticker-content{flex-direction: column;text-align: center;}
  .sticker-content + p{text-align: center;}
  .sticker-content .card-icons{margin: 0 0 20px 0}
  /* .card-data{text-align: center;}   */
}
@media (max-width:1199px){
  .sticker-content{flex-direction: row; text-align: left; }
  .sticker-content + p{text-align: left; }
  .sticker-content .card-icons{margin-right: 28px;margin-bottom: 0;}
}
@media (max-width:899px){
  /* login page
  ------------------------------------------------------------------------------------------------------------------------------------ */
  .login-page .hero-image, .login-page > img{display: none;}
  .login-container{flex-shrink: 1;backdrop-filter: blur(7px); box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.08);padding: 30px 20px;}
  .login-page{background:url(./assets/images/bg-triangle.png) no-repeat;background-position: center; background-size: contain;}

  /* header
  ------------------------------------------------------------------------------------------------------------------------------------ */
  .header .toggle-btn{display: flex;}
  .header .brand-icon{display: flex;margin: 0 10px;}

  .search-box .search-input {width: 100%;}
  .setSearch .search-box {margin: 0; opacity: 1;position: fixed;top: 0;left: 0;right: 0;padding: 25px;z-index: 2; background-color: var(--primary);}
    .setSearch .btn-close-search{display: block;position: absolute;top: 30px;right: 10px; }
    .search-box{opacity: 0; margin-top: -100px;  position: fixed;top: 0;left: 0 ;right: 0;z-index: 3 ;border-radius: 5px; }
  .overlaysearch {position: fixed;transition: all 0.2s ease;top: 100px;bottom: 0;left: 0;z-index: 29;visibility: hidden;
    background: rgba(0, 0, 0, 0.4);display: block;opacity: 0;right: 0;}
  .setSearch .overlaysearch {visibility: visible;opacity: 1;}
  .setSearch .search-box .search-input {width:calc(100% - 30px); margin-left: 0 ;border:2px solid #fff; transition: none;}
  /* sidebar
  ------------------------------------------------------------------------------------------------------------------------------------ */
  .sidebar{margin-left: -234px;opacity: 0.4;width: 234px;position: fixed;top: 0; height: 100%;}
  .setStatus .sidebar{margin-left: 0;opacity: 1;}
  .setStatus .wrapper-content{width: 100%; }  
  .overlay {position: fixed;transition: all 0.2s ease;top: 0px;bottom: 0;left: 0;z-index: 29;visibility: hidden;
    background: rgba(100, 100, 100, 0.1);display: block;opacity: 0;right: 0;}
  .setStatus .overlay {visibility: visible;opacity: 1;}
    
  /* dashboard
  ------------------------------------------------------------------------------------------------------------------------------------ */
  .main-page{padding: 30px 20px ;}
  .card{padding:20px 18px;}
  .wrapper-content{width: 100%;transition: auto;}
  .user-page{padding:25px 20px 7px;}


}

@media (max-width:599px){
  .login-page{padding: 20px;}
}

body .theme-btn{position: fixed; padding: 0; min-width: 40px;height: 40px; bottom: 40px;right: 40px;border-radius: 50px;background-color: var(--primary);}
.theme-btn .light-theme{display: none;}


/* dark-theme -------------------------------------------------------------------------------------------------------- */
.dark-theme .theme-btn .dark-theme{display: none;}
.dark-theme .theme-btn .light-theme{display: block;}

/* login-page ---------------------------------------------------------------------------------------------------------- */
.dark-theme .d-mockup{display: block; width: 841px; height: auto;}
.dark-theme .mockup, .dark-theme .bg-triangle{display: none;}
.dark-theme .d-bg-triangle{display: block; height: auto;}
.dark-theme .logo-light{display: none;}
.dark-theme .logo-dark{display: block;}
.dark-theme .login-page{background-color:#0e0e0e ;}

/* sidebar ---------------------------------------------------------------------------------------------------------- */
.dark-theme .cmp-logo{display: none;}
.dark-theme .brand-logo{display: flex;justify-content: center;}
.dark-theme .cmp-logo-dark{display: block;}

.dark-theme .sidebar .sidelinks .default{display: none;} 
.dark-theme .sidebar .sidelinks .active-img{display: block;} 
.dark-theme .sidebar .active .default{display: none;} 
.dark-theme .sidebar .active .active-img{display: none; }
.dark-theme .sidebar .active .dark-active-img{display: block;} 
.dark-theme .sidebar .sidelinks:not(.active):hover, .dark-theme .sidebar .sidelinks:not(.active):focus,.dark-theme .sidebar .sidelinks:not(.active):active{background:  rgba(150,150,150,0.25) ;}

/* header ---------------------------------------------------------------------------------------------------------- */
.dark-theme .header.active{background-color: rgba(90, 195, 195, 0.85);box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.85); height: 70px;}
/* .dark-theme .menu .dark-dropdown-arrow{align-self: baseline;}  */
/* .dark-theme .toggle-btn .dark-toggle-icon{display: block;} */
/* .dark-theme .toggle-icon{display: none;} */
/* .dark-theme .search-box .search-input{color: var(--bg);transition: all 0.5s ease;font-size: 18px; line-height: 21px; padding: 12px 18px 12px 45px; background: url(./assets/images/ic-search-dark.svg) no-repeat;border: 2px solid --white ; background-position: left 10px center;} */

/* dashboard page ---------------------------------------------------------------------------------------------------------- */

.dark-theme .graph-img, .dark-theme .weekly-img, .dark-theme .card-icons{display: none;}
.dark-theme .d-graph-img{display: block;}
.dark-theme .d-weekly-img{display: block; margin-top: 30px;}
.dark-theme .d-card-icons{display: block; margin-right: 28px;}
/* orders page ---------------------------------------------------------------------------------------------------------- */
.dark-theme .upload-icon-dark{display: block;}
.dark-theme .upload-icon{display: none;}
.dark-theme .l-checkbox, .dark-theme .radio-check{display: none;}
.dark-theme .d-checkbox, .dark-theme .d-radio-check{display: inline-flex;}
.dark-theme .error-ic-d, .dark-theme .info-ic-d, .dark-theme .warn-ic-d, .dark-theme .valid-ic-d{display: block;}
.dark-theme .error-ic, .dark-theme .info-ic, .dark-theme .warn-ic, .dark-theme .valid-ic{display: none;}

@media (max-width:1399px){
  .dark-theme .sticker-content{flex-direction: column;text-align: center;}
  .dark-theme .sticker-content + p{text-align: center;}
  .dark-theme .sticker-content .d-card-icons{margin: 0 0 20px 0}
  /* .card-data{text-align: center;}   */
}
@media (max-width:1199px){
  .dark-theme .sticker-content{flex-direction: row; text-align: left; }
  .dark-theme .sticker-content + p{text-align: left; }
  .dark-theme .sticker-content .d-card-icons{margin-right: 28px;margin-bottom: 0;}
}
@media (max-width:899px){
.dark-theme .login-container{flex-shrink: 1;backdrop-filter: blur(9px); box-shadow: 0px 0px 17px rgba(95, 155, 155, 0.08);padding: 30px 20px;}
.dark-theme .d-bg-triangle{display: none;}
/* .dark-theme .d-left-tri{display: block;height: auto;}
.dark-theme .d-right-tri{display: block;height: auto;} */
.dark-theme .login-page{background:#0e0e0e url(./assets/images/d-bg-triangle.png) no-repeat;background-position: center; background-size: contain;}

}






